<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.product.mapper.SkuSaleAttrValueMapper">
    <resultMap id="SkuSaleAttrValueMap" type="java.util.Map" autoMapping="true">

    </resultMap>

    <select id="selectSaleAttrValuesBySpu" resultMap="SkuSaleAttrValueMap">
        select group_concat(sav.sale_attr_value_id order by ssav.base_sale_attr_id separator '|') value_ids,
               sav.sku_id
        from sku_sale_attr_value sav
                 inner join spu_sale_attr_value ssav
                            on sav.sale_attr_value_id = ssav.id
                                and sav.is_deleted = 0
                                and ssav.is_deleted = 0
        where sav.spu_id = #{spuId}
        group by sav.sku_id
    </select>

    <resultMap id="SkuSaleAttrValueMaps" type="com.atguigu.gmall.model.product.SkuSaleAttrValue" autoMapping="true">
        <id property="id" column="id"/>
    </resultMap>

    <select id="getSkuSaleAttrValueList" resultMap="SkuSaleAttrValueMaps">
        select ssav.id,
               ssav.sku_id,
               ssav.spu_id,
               ssav.sale_attr_value_id,
               sav.base_sale_attr_id,
               sav.sale_attr_value_name,
               sav.sale_attr_name
        from sku_sale_attr_value ssav
                 inner join spu_sale_attr_value sav
                            on ssav.spu_id = sav.spu_id and ssav.sale_attr_value_id = sav.id
        where ssav.sku_id = #{skuId}
          and ssav.is_deleted = 0
          and sav.is_deleted = 0
    </select>

</mapper>